{% extends 'base.html' %}
{% block content %}

<form class="col-md-9 ms-sm-auto col-lg-10 px-md-4" action="/add_router" method="post">
  <br>

  <label for="POST-name">Lable</label>
  <br>
  <input type="text" name="name"><br>
  IP<br>
  <input type="text" name="ip"><br>
  Port<br>
  <input type="text" name="port"><br>
  Login<br>
  <input type="text" name="login"><br>
  Password<br>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Добавить">
</form>

{% endblock %}
