
{% extends 'base.html' %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

<body>

    <h1 class="nav-link">Список устройств</h1>
    
    {% for i in routers_list %}
      <div class="toggler">
        <input type="checkbox" id="toggler__checkbox-id-{{i['id']}}" class="toggler__checkbox">
        <label for="toggler__checkbox-id-{{i['id']}}" class="toggler__label">{{i['id']}}. {{i['name']}}
        <a class="nav-link" href="{{ url_for('.update', data=i['id']) }}">
      <span data-feather="layers"></span>
        Обновить
    </a>
  </label>

        <span class="toggler__content-box">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">ip</th>
                <th scope="col">ros</th>
              </tr>
           </thead>
            <tbody>
             {% for n in olts_list %}
             {% if n['ros'] == i['id'] %}
             <tr>
              <td>{{n['id']}}</td>
              <td>{{n['name']}}</td>
              <td>{{n['ip']}}</td>
              <td>{{n['ros']}}</td>
              </tr>
              {% endif %}
             {% endfor %}
            </tbody>
          </table>
        </span>
      </div>
    {% endfor %}
<br>

   
</body>
</html>
{% endblock %}